<div class="rnk-mystix-chat-points" data-actor-id="{{actorId}}">
    {{#if showHero}}
    <button class="rnk-mystix-chat-roll-btn hero" data-type="hero" title="{{heroTitle}}">
        <span class="label">{{heroLabel}}</span> <span class="value">{{heroPoints}}</span>
    </button>
    {{/if}}
    {{#if showMystic}}
    <button class="rnk-mystix-chat-roll-btn mystic" data-type="mystic" title="{{mysticTitle}}">
        <span class="label">{{mysticLabel}}</span> <span class="value">{{mysticPoints}}</span>
    </button>
    {{/if}}
</div>
